# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
env/
venv/
*.egg-info/

# Data folders
data/raw/
data/processed/

# VSCode, PyCharm, macOS
.vscode/
.idea/
.DS_Store

# Google service account key
creds.json
# dotenv file
.env

