# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.python-version
.ipynb_checkpoints/

# Environments
env/
venv/
*.egg-info/

# Data and Archive folders
data/
archive/

# VSCode, PyCharm, macOS
.vscode/
.idea/
.DS_Store

# Google service account key
creds.json

# dotenv file
.env
.venv
